<%= form_for(@user) do |f| %>

<div class="header">
</div>

<div class="form">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
    <div class="field">
    <label for="user.ziip">Zip</label><br />
    <%= f.text_field :ziip %>
  </div>
  <div class="field">
    <%= f.label :homeCourse %><br />
    <%= f.text_field :homeCourse %>
  </div>
</div>
<div class="actions">
   <%= f.submit "Submit"%>
</div>
<% end %>
