<p id="notice"><%= notice %></p>

<p>
  <h2>Name:</h2>
  <%= @user.name %>
</p>
<p>
  <h2>Zip:</h2>
  <%= @user.zip %>
</p>
<p>
  <b>Number:</b>
  <%= @user.number %>
</p>
<p>
  <b>Home Course:</b>
  <%= @user.homeCourse %>
</p>
<p>
	<b>Ziip:</b>
	<%= @user.ziip %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
